<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main>
        <table class="striped">
            <thead>
                <tr>
                    <th class="thead-small">Delete</th>
                    <th class="thead-small">Edit</th>
                    <th>Diet Name</th>
                    <th>Diet Type</th>
                </tr>
            </thead>
            <% diets.forEach(function(diet) { %>
            <tbody>
                <tr>
                    <td>
                        <form class="delete-form" action="/diets/<%= diet._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    </td>
                    <td>
                        <form class="update-form" action="/diets/<%= diet._id %>/edit">
                            <button type="submit">+</button>
                        </form>
                    </td>
                    <td>    
                        <a href="/diets/<%= diet._id %>"><%= diet.name %></a>
                    </td>
                    <td>
                        <a><%= diet.dietType %></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <% }) %>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>