<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main class="container">
        <div class="container">
            <h5><%= diet.name %> | Diet Type <%= diet.dietType %> | Start Date:
                <%= diet.startDate.toLocaleDateString() %></h5>
        </div>
        <div class="container">
            <% if(meals.length) { %>
            <h6>Meal Log</h6>
            <% diet.meals.forEach(function(meal) { %>
            <table class="container">
                <thead>
                    <tr>
                        <th>Breakfast</th>
                        <th>Lunch</th>
                        <th>Dinner</th>
                        <th>Date</th>
                        <th>Added by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= meal.breakfast %></td>
                        <td><%= meal.lunch %></td>
                        <td><%= meal.dinner %></td>
                        <td><%= meal.date.toLocaleDateString() %></td>
                        <td><%= meal.createdBy.displayName %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
            <h6>No Meals Have Been Added for this Diet</h6>
            <% } %>
            <a class="btn btn-small" href="/diets/<%= diet._id %>/meals/new">Add Your Meals For The Day</a>
        </div>
        <div class="container">

            <% if(nutrients.length) { %>
            <h6>Nutrient Intake:</h6>
            <% nutrients.forEach(function(nutrient) { %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Intake</th>
                        <th>Added By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= nutrient.name %></td>
                        <td><%= nutrient.intake %></td>
                        <td><%= nutrient.createdBy.displayName %></td>
                    </tr>
                </tbody>
            </table>
                
            <% }) %>
            <% } else { %>
            <h6>There Are No Nutrients For This Diet</h6>
            <% } %>
            <a class="btn btn-small" href="/diets/<%= diet._id %>/nutrients/new">Add A New Nutrient</a>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>